.main {
    height: 100vh;
    background-image: url('../images/bg.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    .butter {
        width: 200px;
        height: 200px;;
    }
}